.hero-content {
  max-width: 693px;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}
.hero {
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6vh 0;
  margin-top: 70px;
}
.hero-content h1 {
  color: var(--light-color);
  font-family: "KoHo", sans-serif;
  font-size: 55px;
  font-weight: 700;
}
.hero-content h1 span {
  color: var(--yellow-color);
  font-family: "KoHo", sans-serif;
  position: relative;
}
.hero-content span .line {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: -6px;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .container p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}
.hero .container .feild {
  position: relative;
  max-width: 500px;
  width: 100%;
}
.hero .container input {
  padding: 16px 8px 16px 16px;
  background-color: #3d4e64;
  border-radius: 50px;
  width: 100%;
  border: 0;
  outline: 0;
  color: var(--text-color);
}
.hero .container input::placeholder {
  font-size: 12px;
  font-style: italic;
  color: var(--text-color);
}
.hero .container button {
  background-color: var(--yellow-color);
  color: #3d4e64;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 37px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1224px) {
  .hero .container .img-person {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .hero .container {
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content span .line {
    width: 90px;
  }
}
