.section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 56px;
}
.section-header .section-title {
  margin: 0;
}
.courses-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 20px;
  margin-bottom: var(--section-title-mb);
}
.courses .main-button {
  display: block;
  margin: 0 auto;
}
.arrows {
  display: flex;
  gap: 10px;
}
.arrows span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #364c65;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .section-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .courses-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .course-card {
    padding: 16px;
  }
}
